<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <p><%= category.created_at %></p>
  </td>
  <td>
    <%= category.updated_at %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, :categories], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

</tr>