<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', new_admin_category_path, class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default category">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created_At</th>
          <th>Updated_At</th>
          <th>Trash Button</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>